@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Mulish:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    background-color: #b0ebdc;
    color: #db365a;
    line-height: 1.6;
}

header {
    padding: 40px 10%;
    background-color: #b0ebdc;
    text-align: center;
}

header h1 {
    font-family: "Alfa Slab One", serif;
    font-weight: 700;
    font-size: 3em; 
    line-height: 1.2em;
    text-transform: uppercase;
    color: #333;
}

header p {
    font-size: 1.25em;
    margin: 20px 0;
    font-weight: 300;
}

.btn-instagram {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2c313f;
    border: 2px solid #2c313f;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

.btn-instagram:hover {
    background-color: #2c313f;
    color: #ffffff;
}

.content-section {
    padding: 60px 10%;
    background-color: #ffffff;
}

.content-section h2 {
    font-size: 2em;
    font-weight: 700; 
    margin-bottom: 20px;
    text-transform: capitalize;
}

.content-section p {
    font-size: 1.1em; 
    margin-bottom: 30px;
    font-weight: 300;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: space-between; 
}

.grid img {
    width: calc(33.33% - 20px);
    height: auto;
    object-fit: cover;
    border-radius: 0px;
    border: 2px solid #db365a; 
}

.grid img:hover {
    filter: grayscale(100%);
}

.single-image {
    width: 100%;
    height: auto;
    margin: 30px 0;
    border-radius: 0px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p, .content-section p {
        font-size: 1em;
    }

    .grid {
        flex-direction: column;
        gap: 20px;
    }

    .grid img {
        width: 100%;
    }
}
